<div class="row">
	<div class="col-md-12">
		<h3>Success Transactions</h3>
		<table id="table" class="table dataTable">
			<thead>
				<th>Customer</th>
				<th>Transaction Date</th>
				<th>Currency</th>
				<th>Amount</th>
				<th>Status</th>
			</thead>
			<tbody>
				<% @transaction.each do |t| %>
				<% if t.paid == true && t.refunded == false %>
				<tr>
					<td> <% unless t.customer.nil?%>
					<%= t.customer.firstname %>
					<% end %>

					<% unless t.customer.nil?%>
					<%= t.customer.lastname %>
					<% end %> </td>
					<td> <%= t.created %> </td>
					<td> <%= t.currency %> </td>
					<td> $<%= t.amount %> </td>
					<td>
						<% if t.paid == true && t.refunded == false %>
							<span class="label label-success">
								<span class="glyphicon glyphicon-ok-circle"> Success</span> 
							</span>
						<% end %>
					</td>
				</tr>
				<% end %>
				<% end %>
			</tbody>
			<tfoot>
				<th>Customer</th>
				<th>Transaction Date</th>
				<th>Currency</th>
				<th>Amount</th>
				<th>Status</th>
			</tfoot>
		</table>
	</div>
</div>
<br />
<hr />
<div class="row">
	<div class="col-md-12">
		<h3>Refunded Transactions</h3>
		<table id="table" class="table dataTable">
			<thead>
				<th>Customer</th>
				<th>Transaction Date</th>
				<th>Currency</th>
				<th>Amount</th>
				<th>Status</th>
			</thead>
			<tbody>
				<% @transaction.each do |t| %>
				<% if t.paid == true && t.refunded == true %>
				<tr>
					<td> <% unless t.customer.nil?%>
					<%= t.customer.firstname %>
					<% end %>

					<% unless t.customer.nil?%>
					<%= t.customer.lastname %>
					<% end %> </td>
					<td> <%= t.created %> </td>
					<td> <%= t.currency %> </td>
					<td> $<%= t.amount %> </td>
					<td>
					<% if t.paid == true && t.refunded == true %>
						<span class="label label-default">
							<span class="glyphicon glyphicon-remove-circle"> Refunded</span> 
						</span>
					<% end %>
					</td>
				</tr>
				<% end %>
				<% end %>
			</tbody>
			<tfoot>
				<th>Customer</th>
				<th>Transaction Date</th>
				<th>Currency</th>
				<th>Amount</th>
				<th>Status</th>
			</tfoot>
		</table>
	</div>
</div>
<br />
<hr />
<div class="row">
	<div class="col-md-12">
		<h3>Pending / Failed Transactions</h3>
		<table id="table" class="table dataTable">
			<thead>
				<th>Customer</th>
				<th>Transaction Date</th>
				<th>Currency</th>
				<th>Amount</th>
				<th>Status</th>
			</thead>
			<tbody>
				<% @transaction.each do |t| %>
				<% if t.paid == false && t.refunded == false %>
				<tr>
					<td> <% unless t.customer.nil?%>
					<%= t.customer.firstname %>
					<% end %>

					<% unless t.customer.nil?%>
					<%= t.customer.lastname %>
					<% end %> </td>
					<td> <%= t.created %> </td>
					<td> <%= t.currency %> </td>
					<td> $<%= t.amount %> </td>
					<td>
					<% if t.paid == false && t.refunded == false %>
						<span class="label label-warning">
							<span class="glyphicon glyphicon-warning-sign"> Pending / Failed</span> 
						</span>
					<% end %>
					</td>
				</tr>
				<% end %>
				<% end %>
			</tbody>
			<tfoot>
				<th>Customer</th>
				<th>Transaction Date</th>
				<th>Currency</th>
				<th>Amount</th>
				<th>Status</th>
			</tfoot>
		</table>
	</div>
</div>

